body{
    background: url(https://github.com/moralesvictorr/front_workshop3/blob/main/src/Imgs/bg-intro-desktop.png?raw=true);
    background-color:  rgba(255, 120, 121, 0.934);
    font-family: 'Poppins', sans-serif;
}
.principal-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 50px;

}
.description-container{
    width: 50%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-container{
    width: 50%;
    justify-content: center;
}

@media (max-width: 500px){
    .principal-container{
        flex-direction: column;
        place-items: center;
        gap: 0px;
    }
    .description-container{
        width: 100%;
        justify-content: center;

    }
    .section-container{
        width: 100%;
        justify-content: center;
    }
}