*{
    background: url(https://github.com/moralesvictorr/front_workshop3/blob/main/src/Imgs/bg-intro-desktop.png?raw=true);
    background-color: rgb(255, 120, 121, 255);;
    font-family: 'Poppins', sans-serif;
}
