.Complemento {
    margin: 4%;
    color: white;
    text-align: left;
    flex: 2;
    width: 50%;

    h1{
        font-size: 35px;
        width: 100%;
    }
    
    p{
        font-size: 20px;
        width: 100%;
    }
}
