.Complemento {
    margin: 4%;
    color: white;
    text-align: left;
    flex: 2;
    width: 50%;

    h1{
        font-size: 35px;
        width: 100%;
    }
    
    p{
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 500px){
    .Complemento{

    h1{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    
    p{
        font-size: 15px;
        width: 100%;
        text-align: center;
    }
    }
}